In [2]:
## Assignment no -01 Week3 solution

In [18]:
## Q1.

given_list = [('Sachin Tendulkar', 34357), ('Ricky Ponting', 27483), ('Jack Kallis', 25534), ('Virat Kohli', 24936)]

sort_data = sorted(given_list, key = lambda x : x[1])

print(sort_data)

[('Virat Kohli', 24936), ('Jack Kallis', 25534), ('Ricky Ponting', 27483), ('Sachin Tendulkar', 34357)]

In [1]:
## Q2.

given_list = [1,2,3,4,5,6,7,8,9,10]

sq_list = map(lambda x : x**2 ,given_list) 

print(list(sq_list))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [5]:
## Q3.

l = [1,2,3,4,5,6,7,8,9,10]

tuple_str = tuple(map(lambda x : str(x) , l))

print(tuple_str)

('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')

In [8]:
## Q4.

num_list = list(range(1,26))

from functools import reduce

num_product = reduce(lambda x,y : x*y, num_list)

print(num_product)

15511210043330985984000000

In [13]:
## Q5.

given_list = [2,3,6,9,27,60,90,120,55,46]

filtered_num = filter(lambda x : x % 2 == 0 and x % 3 == 0, given_list)

print(list(filtered_num))

[6, 60, 90, 120]

In [8]:
## Q6.

provided_list = ['python', 'php', 'aba', 'radar', 'level']

fun_pall = lambda x : x == x[::-1]

pallindrome_list = filter(fun_pall, provided_list)

print(list(pallindrome_list))

['php', 'aba', 'radar', 'level']